In [3]:
import numpy as np
# Creating an array from a list
arr1 = np.array([1,2,3,4,5])
print("Array from list:", arr1)

# Creating an array with zeros
arr2 = np.zeros((3, 4))
print("Array of zeros:/n", arr2)

# Creating an array with ones
arr3 = np.ones((4, 5))
print("Array of ones:/n", arr3)

# Creating an array with a range of numbers
arr4 = np.arange(10)
print("Array with range of numbers:", arr4)

# Creating an array with evenly spaced values
arr5 = np.linspace(0, 1, 5)
print("Array with evenly spaced values", arr5)

# Creating a sample array
arr = np.array([30, 40, 50, 60, 70])

# Indexing
print("Element at index 0:", arr[0])
print("Element at index 3:", arr[3])

# Slicing
print("Elements from index 1 to 3:", arr[1:4])
print("Elements from the start to index 3:", arr[0:4])
print("Elements from index 2 to the end:", arr[2:])

# Creating a 2D array
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print("Element at row 1, column2:", arr2d[0, 1])

# Slicing
print("First two rows and columns 1 and 2:/n", arr2d[:2, 1:3])

# Creating sample arrays
arr1 = np.array

# Creating sample arrays
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])

# Element-wise addition
print("Element-wise addition:", arr1 + arr2)

# Creating a sample array
arr = np.array([0, np.pi/2, np.pi])

# Using universal functions 
print("Sine:", np.sin(arr))
print("Exponential", np.exp(arr))
print("Square root", np.sqrt(arr))

# Creating a 1D array
arr = np.arange(1,10)

# Reshaping to 2D array (3*3)
arr_reshaped = arr.reshape(3, 3)
print("Reshaped 2D array:\n", arr_reshaped)

# Creating a sample array
arr = np.array([1, 2, 3, 4, 5])

# Calculating mean and standard deviation 
mean = np.mean(arr)
std_dev = np.std(arr)
print("Mean:", mean)
print("Standard Deviation:", std_dev)

Array from list: [1 2 3 4 5]
Array of zeros:/n [[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
Array of ones:/n [[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
Array with range of numbers: [0 1 2 3 4 5 6 7 8 9]
Array with evenly spaced values [0.   0.25 0.5  0.75 1.  ]
Element at index 0: 30
Element at index 3: 60
Elements from index 1 to 3: [40 50 60]
Elements from the start to index 3: [30 40 50 60]
Elements from index 2 to the end: [50 60 70]
Element at row 1, column2: 2
First two rows and columns 1 and 2:/n [[2 3]
 [5 6]]
Element-wise addition: [5 7 9]
Sine: [0.0000000e+00 1.0000000e+00 1.2246468e-16]
Exponential [ 1.          4.81047738 23.14069263]
Square root [0.         1.25331414 1.77245385]
Reshaped 2D array:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
Mean: 3.0
Standard Deviation: 1.4142135623730951

In [5]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = { 
    'Name' : ['Alice', 'Bob', 'Charlie'],
  'Age' : [25, 30, 35],
 'City' : ['New York', 'Los Angeles', 'Chicago']
 }

df=pd.DataFrame(data)
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [6]:
df = pd.read_csv('Data.csv')
df

   Unnamed: 0     Name  Age         City
0           0    Alice   25    New York
1           1      Bob   30  Los Angeles
2           2  Charlie   35      Chicago